buoi3_HuynhDangKhoa/donhang/donhang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="danhsach_donhang">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="sanpham" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="price" type="xs:decimal"/>
                        <xs:element name="stock" type="xs:integer"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="order" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customer" type="xs:string"/>
                        <xs:element name="date" type="xs:date"/>
                        <xs:element name="order_items">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="item" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:attribute name="productRef" type="xs:IDREF" use="required"/>
                                            <xs:attribute name="quantity" type="xs:integer" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:unique name="uniqueSanphamId">
        <xs:selector xpath="sanpham"/>
        <xs:field xpath="@id"/>
    </xs:unique>
    
    <xs:unique name="uniqueOrderId">
        <xs:selector xpath="order"/>
        <xs:field xpath="@id"/>
    </xs:unique>
        <xs:keyref name="productRefKey" refer="uniqueSanphamId">
        <xs:selector xpath="order/order_items/item"/>
        <xs:field xpath="@productRef"/>
    </xs:keyref>
</xs:element>

</xs:schema>